* {
  color: aliceblue;
}

body {
  margin: 0px;
  background-color: rgb(233, 135, 135);
}

h1 {
  margin-left: 4rem;
}

.top-hero {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
}

.hero-text {
  background-color: black;
  padding: 1rem;
}

content {
  display: flex;
  flex-direction: column;
}

#introduction > ul {
  margin-left: 4rem;
}

#products > ul {
  margin-left: 4rem;
}

.item-container {
  background-color: black;
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.header-item {
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  font-size: 1.5rem;
}

.image-container {
  height: 500px;
}

.boku-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.kakugen-container {
  margin-left: 4rem;
  margin-bottom: 4rem;
}

.kakugen-button {
  background-color: aliceblue;
  color: black;
  cursor: pointer;
}

.tech-container {
  display: flex;
  gap: 2rem;
  margin: auto 0;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-card {
  width: 300px;
  flex-shrink: 0;
  background-color: brown;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.tech-list {
  text-align: start;
  width: 260px;
}
